<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <!-- 公共模版文件 -->
  @@include('nav.html', {
    name: 'jiang',
    age: '20',
    socials: {
      fb: 'aaaaa',
      tw: 'bbbbb'
    }
  })
  <!-- 公共模版文件 end-->
  <div>——————我是分割线————————</div>
  <h2>首页内容</h2>
  <div>
    <img src="/images/icon_study.png" alt="">
  </div>1231
  
  <script src="/js/main.js"></script>
</body>
</html>